# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
#*.jar
*.war
*.ear
/bin/
/Player/target/
/Map/target/
/application/target/
/Common/target/
/Engine/target/
/SilentUpdate/target/
/ModuleBuilder/target/
/Weapon/target/
/Movement/target/
/SilentUpdate/src/main/resources/org/netbeans/modules/autoupdate/silentupdate/resources/Bundle.properties
/Collision/target/
/Health/target/
/LifeState/target/
/Zombie/target/
/AI/target/
/AIAS/target/
/AIFoV/target/