# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
#*.jar
*.war
*.ear
/bin/
/Input/target/
/MouseInput/target/
/KeyboardInput/target/
/PlayState/target/
/MenuState/target/
/Player/target/
/Map/target/
/application/target/
/GameEngine/target/
/Common/target/
/Engine/target/
/SilentUpdate/target/
/suite1/nbproject/private/
/mavenproject1/ModuleBuilder/target/
/ModuleBuilder/ModuleBuilder/target/
/ModuleBuilder/target/
/Weapon/target/